img.single-post-img {
	max-height: 359px;
	width: 100%;
}

.pointer:hover {
	cursor: pointer !important;
}

/* TinyMCE css */
.tox-notifications-container,
.tox-statusbar__branding {
	display: none !important;
}